.container {
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width:90%;
    text-align: center;
    margin: 60px 0 40px 0;
    font-family: 'Crimson Text';
    font-size: 48px;
    line-height: 50px;
}

.content {
    width: 60%;
    margin-bottom: 40px;
    flex:1;
    font-family: 'Crimson Text';
}

.email, .social, .ischool {
    margin: 20px 0;
}

.link {
    color: lightblue;
}