.chair {
    display: flex;
    flex-direction: column;


}

.container {
    flex:1;
    width:300px;
    height:100px;
}
.photo {
    border-radius: 50%;
    width: 10px;

}

.name {
    flex:1;

}

.description {
    flex:1;

}