.container {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
}


.name {
    font-size: 48px;
    line-height: 50px;
    margin: 20px 20px;
}

.photo {
    position: relative;
    width: 60%;
}

@media screen and (max-width: 1100px) {
    .photo {
        margin: 0 auto;    
    }
}

.photo::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: 300px;
    height: 150px;
    background-color: gold;
    z-index: -1;
}


.description {
    align-self: flex-end;
    width: 80%;
    text-align: justify;
    position: relative;
    


}

@media screen and (max-width: 1100px) {
    .description {
        align-self: center;
        width: 100%;

        
    
    
    }
}

.decoration2 {
    width: 20px;
    height: 20px;
    background-color: gold;
    align-self: flex-end;

}